body {
    color: #e9e9e9;
    font-family: 'Roboto', sans-serif;
}

.home-body {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.5)), url('/images/background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.name {
    font-family: 'Abril Fatface', serif;
    color: #f8afa8;
    font-size: 4em;
    text-align: center;
    margin-top: 200px;
}

.page-link-box {
    text-align: center;
    font-size: 1.5em;
}

.page-link {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f8afa8;
}

a:active {
    color: pink;
}

.title {
    letter-spacing: 3px;
    color: dimgray;
}

.tabs-details {
    display: block;
    white-space: initial;
    /* very important for reasons */
    padding-left: 10px;
    padding-right: 10px;
}

.highlight {
    color: #01d1b2;
}