<!--The content below is only a placeholder and can be replaced.-->
<div class="splash">
  <div class="container fluid align-right">
    <h1 class="float center topmost">visually roxanne 2.0</h1>
    <div class="block terracotta floatup"></div>
    <div class="block mustard"></div>
    <div class="block evergreen floatup"></div>
    <div class="block rose"></div>
    <div class="block desert-sand floatup"></div>
  </div>
  <div class="float right bottom">
    <app-nav-bar></app-nav-bar>
  </div>
</div>
<router-outlet></router-outlet>
