/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:200,300,400,500,600&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

//colors
$white: #fdfdfd;
$terracotta: #cf8047;
$mustard: #ffc909;
$evergreen: #1a4236;
$rose: #e5b8b8;
$desert-sand: #dcbf9d; 
$shoreline: #ddd5cb;

$block-width: 50px;

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: $white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: .1em;
}  

h2 {
    font-weight: 600;
}

.no-scroll {
    overflow: hidden;
}

.topmost {
    z-index: 100;
}

h4 {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    a:hover {
        text-decoration: underline!important;;
        font-style: italic;
    }
}

.fluid {
    width: 75%;
    height: 50vh;
}

.align-right {
    text-align: right;
}

.terracotta {
    background: $terracotta;
}
.mustard {
    background: $mustard;
}
.evergreen {
    background: $evergreen;
}
.rose {
    background: $rose;
}
.desert-sand {
    background: $desert-sand;
}

.block {
    width: $block-width;
    height: $block-width;
    position: absolute;
}

.float {
    position: absolute;
    &.right {
        right: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.center {
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size: .9em;
    }
}

// .floatup {
//     animation: floatup 5s ease-in-out 2s infinite alternate;
// }


@keyframes floatup {
    0% {
        transform: translate(50%, 50%);
    }
    50% {
        transform:translate(-25%, 35%);
    }
    75% {
        transform:translate(83%, 25%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
